*.bundle filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.meta filter=lfs diff=lfs merge=lfs -text
*.asset filter=lfs diff=lfs merge=lfs -text
*.anim filter=lfs diff=lfs merge=lfs -text
*.cs filter=lfs diff=lfs merge=lfs -text
*.unity filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.mm filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.lighting filter=lfs diff=lfs merge=lfs -text
*.prefab filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.controller filter=lfs diff=lfs merge=lfs -text
*.mat filter=lfs diff=lfs merge=lfs -text
*.FBX filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
/Assets/ExternalDependencyManager/Editor/LICENSE filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.pom filter=lfs diff=lfs merge=lfs -text
*.srcaar filter=lfs diff=lfs merge=lfs -text
*.otf filter=lfs diff=lfs merge=lfs -text
*.physicsMaterial2D filter=lfs diff=lfs merge=lfs -text
*.shader filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.spriteatlas filter=lfs diff=lfs merge=lfs -text
*.aar filter=lfs diff=lfs merge=lfs -text
*.asmdef filter=lfs diff=lfs merge=lfs -text
/Assets/GoogleMobileAds/LICENSE filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.TTF filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.DISABLED filter=lfs diff=lfs merge=lfs -text
*.properties filter=lfs diff=lfs merge=lfs -text
*.gradle filter=lfs diff=lfs merge=lfs -text
*.backup filter=lfs diff=lfs merge=lfs -text
*.backup2 filter=lfs diff=lfs merge=lfs -text
*.backup3 filter=lfs diff=lfs merge=lfs -text
*.backup4 filter=lfs diff=lfs merge=lfs -text
*.backup5 filter=lfs diff=lfs merge=lfs -text
*.backup6 filter=lfs diff=lfs merge=lfs -text
*.backup7 filter=lfs diff=lfs merge=lfs -text
*.backup8 filter=lfs diff=lfs merge=lfs -text
*.XML filter=lfs diff=lfs merge=lfs -text
*.jslib filter=lfs diff=lfs merge=lfs -text
*.bytes filter=lfs diff=lfs merge=lfs -text
*.data filter=lfs diff=lfs merge=lfs -text
*.xib filter=lfs diff=lfs merge=lfs -text
*.preset filter=lfs diff=lfs merge=lfs -text
*.cginc filter=lfs diff=lfs merge=lfs -text
*.wlt filter=lfs diff=lfs merge=lfs -text
*.aab filter=lfs diff=lfs merge=lfs -text
*.apk filter=lfs diff=lfs merge=lfs -text
*.strings filter=lfs diff=lfs merge=lfs -text
*.pch filter=lfs diff=lfs merge=lfs -text
*.m filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.config filter=lfs diff=lfs merge=lfs -text
/bu/Ios/Data/Resources/unity_builtin_extra filter=lfs diff=lfs merge=lfs -text
/bu/Ios/Data/globalgamemanagers filter=lfs diff=lfs merge=lfs -text
*.assets filter=lfs diff=lfs merge=lfs -text
*.resS filter=lfs diff=lfs merge=lfs -text
/bu/Ios/Data/level0 filter=lfs diff=lfs merge=lfs -text
/bu/Ios/Data/level1 filter=lfs diff=lfs merge=lfs -text
/bu/Ios/Data/level2 filter=lfs diff=lfs merge=lfs -text
*.resource filter=lfs diff=lfs merge=lfs -text
/bu/Ios/Data/unity default resources filter=lfs diff=lfs merge=lfs -text
*.swift filter=lfs diff=lfs merge=lfs -text
/bu/Ios/Il2CppOutputProject/IL2CPP/build/deploy_arm64/Analytics filter=lfs diff=lfs merge=lfs -text
/bu/Ios/Il2CppOutputProject/IL2CPP/build/deploy_arm64/UnityLinker filter=lfs diff=lfs merge=lfs -text
/bu/Ios/Il2CppOutputProject/IL2CPP/build/deploy_arm64/bee_backend/mac-arm64/bee_backend filter=lfs diff=lfs merge=lfs -text
/bu/Ios/Il2CppOutputProject/IL2CPP/build/deploy_arm64/createdump filter=lfs diff=lfs merge=lfs -text
/bu/Ios/Il2CppOutputProject/IL2CPP/build/deploy_arm64/il2cpp filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
/bu/Ios/Il2CppOutputProject/IL2CPP/build/deploy_x86_64/Analytics filter=lfs diff=lfs merge=lfs -text
/bu/Ios/Il2CppOutputProject/IL2CPP/build/deploy_x86_64/UnityLinker filter=lfs diff=lfs merge=lfs -text
/bu/Ios/Il2CppOutputProject/IL2CPP/build/deploy_x86_64/bee_backend/mac-x64/bee_backend filter=lfs diff=lfs merge=lfs -text
/bu/Ios/Il2CppOutputProject/IL2CPP/build/deploy_x86_64/createdump filter=lfs diff=lfs merge=lfs -text
/bu/Ios/Il2CppOutputProject/IL2CPP/build/deploy_x86_64/il2cpp filter=lfs diff=lfs merge=lfs -text
*.c filter=lfs diff=lfs merge=lfs -text
/bu/Ios/Il2CppOutputProject/IL2CPP/external/bdwgc/libatomic_ops/COPYING filter=lfs diff=lfs merge=lfs -text
*.def filter=lfs diff=lfs merge=lfs -text
/bu/Ios/Il2CppOutputProject/IL2CPP/external/xamarin-android/README filter=lfs diff=lfs merge=lfs -text
/bu/Ios/Il2CppOutputProject/IL2CPP/external/zlib/README filter=lfs diff=lfs merge=lfs -text
/bu/Ios/Il2CppOutputProject/IL2CPP/il2cpp_root filter=lfs diff=lfs merge=lfs -text
*.icalls filter=lfs diff=lfs merge=lfs -text
*.hpp filter=lfs diff=lfs merge=lfs -text
*.hw filter=lfs diff=lfs merge=lfs -text
*.plist filter=lfs diff=lfs merge=lfs -text
*.storyboard filter=lfs diff=lfs merge=lfs -text
/bu/Ios/Podfile filter=lfs diff=lfs merge=lfs -text
*.pbxproj filter=lfs diff=lfs merge=lfs -text
*.xcscheme filter=lfs diff=lfs merge=lfs -text
*.xcprivacy filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
* !text !filter !merge !diff
